@import '~bootstrap/scss/bootstrap';

.container {
    margin-top: 10px;
    width: 100%;
  }

.nav {
  background: darkslategray;
}


.menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuImg {
  top: 25%;
}


#formContainer {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    top: 25%;
    left: 25%;
    color: whitesmoke;
}

